<style type="text/css">
body {
	background: olivedrab;
	color: black;
	margin-top: 20px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}


.thumbnails img {
	width: 500px;
}
.thumbnails2 img {
	width: 800px;
}

h3{
 font-size:56px;

}
p{
    font-size:18px;
    
}
button{
  
background-color: darkolivegreen;
color: white;
font-size: 16px;

}
</style>

</head>
<body>


<div class="gallery" align="center">
<h3>Learn How To Paint Bluebells!</h3>

<div class="thumbnails">
<%= image_tag("Step1.jpg")%>
<p><b>Step 1: Choose a picture and start sketching out your design. Make sure to draw lightly.</b></p>
</div>

<div class="thumbnails">
<%= image_tag("Step2.JPG")%>
<%= image_tag("Step3.JPG")%>
<%= image_tag("Step4.JPG")%>
<p><b>Step 2: Choose your color palette and then begin painting. Make sure to paint a section at a time.</b></p>
</div>

<div class="thumbnails">
<%= image_tag("Step5.JPG")%>
<p><b>Step 3: Apply light washes and as your painting dries add layers of deeper color.</b></p>
</div>

<div class="thumbnails">
<%= image_tag("Step6.JPG")%>
<%= image_tag("Step7.JPG")%>
<p><b>Step 4: Add small details as you are finishing up your painting. Make sure to use a small brush.</b></p>
</div>

<div class="thumbnails2">
<%= image_tag("Watercolor Tips.JPG")%>
<p><b>Water Color Tips! These tips are provided by Connie Balukoff.</b></p>
</div>
<center>
<button onclick="location.href='https://safe-bayou-98954.herokuapp.com/static_pages/welcome'">Welcome Page</button>
<button onclick="location.href='https://safe-bayou-98954.herokuapp.com/static_pages/about'">About Page</button>
<button onclick="location.href='https://safe-bayou-98954.herokuapp.com/static_pages/gallery'">Gallery Page</button>
</center>
<% command = 'perl lib/assets/Test3.pl uri=' %>
<%= `#{command}` %>

</div>

</body>